MONGODB_HOST=IP
MONGODB_PORT=27017
MONGODB_AUTH_SOURCE=admin
MONGODB_USER=admin
MONGODB_PASSWORD=password

MONGODB_URL=mongodb://localhost:27017,localhost:27018,localhost:27019/babybox-dashboard?replicaSet=rs0&readPreference=primary&ssl=false
