services:
  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile.dev
    volumes:
      - ./apps/web:/app
      - /app/node_modules # Protects the container's node_modules
      - /app/.next # Protects the build cache
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_NODE_ENV=development

  snapshot-handler:
    build:
      context: ./apps/snapshot-handler
      dockerfile: Dockerfile.dev
    volumes:
      - ./apps/snapshot-handler:/app
    environment:
      - APP_ENV=development
    labels:
      - traefik.http.routers.snapshot-handler.rule=Host(`snapshot-handler.localhost`)
      - traefik.http.routers.snapshot-handler.entrypoints=web
      - traefik.http.services.snapshot-handler.loadbalancer.server.port=8080

  babybox-service:
    build:
      context: ./apps/babybox-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./apps/babybox-service:/app
    environment:
      - APP_ENV=development
    labels:
      - traefik.http.routers.babybox-service.rule=Host(`babybox-service.localhost`)
      - traefik.http.routers.babybox-service.entrypoints=web
      - traefik.http.services.babybox-service.loadbalancer.server.port=8081

  user-service:
    build:
      context: ./apps/user-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./apps/user-service:/app
    environment:
      - APP_ENV=development
    labels:
      - traefik.http.routers.user-service.rule=Host(`user-service.localhost`)
      - traefik.http.routers.user-service.entrypoints=web
      - traefik.http.services.user-service.loadbalancer.server.port=8082

  notification-service:
    build:
      context: ./apps/notification-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./apps/notification-service:/app
    environment:
      - APP_ENV=development
    labels:
      - traefik.http.routers.notification-service.rule=Host(`notification-service.localhost`)
      - traefik.http.routers.notification-service.entrypoints=web
      - traefik.http.services.notification-service.loadbalancer.server.port=8083

  battery-analyzer:
    build:
      context: ./apps/battery-analyzer
      dockerfile: Dockerfile.dev
    volumes:
      - ./apps/battery-analyzer:/app
    environment:
      - APP_ENV=development
    labels:
      - traefik.http.routers.battery-analyzer.rule=Host(`battery-analyzer.localhost`)
      - traefik.http.routers.battery-analyzer.entrypoints=web
      - traefik.http.services.battery-analyzer.loadbalancer.server.port=8084
