@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 73.2% 54.2%;
    --destructive-foreground: 210 40% 98%;
    --success: 138 70.8% 40.6%;
    --success-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;

    --inside: 221.2 83.2% 53.3%;
    --outside: 138 70.8% 40.6%;
    --casing: 20 76% 53%;
    --heating: 0 73.2% 54.2%;
    --cooling: 191 76% 53%;
    --in: 259 29% 58%;
    --battery: 87 29% 58%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 61.8% 40.6%;
    --destructive-foreground: 210 40% 98%;
    --success: 138 65.8% 35.6%;
    --success-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .ml-main {
    margin-left: max(16%, 195px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.apexcharts-menu-icon svg,
.apexcharts-reset-icon svg,
.apexcharts-zoom-icon svg,
.apexcharts-zoomin-icon svg,
.apexcharts-zoomout-icon svg {
  fill: none !important;
}

.apexcharts-canvas .apexcharts-reset-zoom-icon.apexcharts-selected svg,
.apexcharts-canvas .apexcharts-selection-icon.apexcharts-selected svg,
.apexcharts-canvas .apexcharts-zoom-icon.apexcharts-selected svg {
  fill: hsl(var(--primary)) !important;
  stroke: hsl(var(--primary));
}

.apexcharts-toolbar {
  gap: 5px;
}

.apexcharts-menu {
  background-color: hsl(var(--background)) !important; /* Custom background */
  border: 1px solid hsl(var(--border)) !important; /* Custom border color */
  padding: 0 !important;
  min-width: 0 !important;
  border-radius: 0.55rem !important;
}

.apexcharts-menu-item {
  color: hsl(var(--foreground)) !important; /* Custom text color */
  transition: 0.3s all;
  &:hover {
    background-color: hsl(
      var(--secondary)
    ) !important; /* Custom hover background */
  }
  border-radius: 0.5rem;
}

div.ghost {
  border: 0;
}

div.ghost thead tr th {
  height: 30px;
}

div.ghost tbody tr td {
  padding-top: 4px;
  padding-bottom: 4px;
}

@media all and (display-mode: standalone) {
  nav.mobile-nav {
    padding-bottom: 18px;
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.spin {
  animation: spin 1s ease-in-out;
}
